body {
  background-color: #cbd5d5;
}

.header-content,
.footer-content {
  background-color: #00d1b2;
  color: #404654;
}

.card.has-background-light {
  position: relative;
}

.button-content {
  width: 90%;
  position: absolute;
  bottom: 20px;
}

.button.is-secondary {
  height: 40px;
}

.modal {
  --bulma-modal-card-head-background-color: #00d1b2;
}
